<form [formGroup]="form" (ngSubmit)="onSubmit(form.value, form.valid)">
  <div class="row">
    <div class="col s12 input-field">
      <input id="loginId" type="email" class="validate" formControlName="loginId" required maxlength="30"
        data-length="30" autocapitalize="off" autocorrect="off">
      <label for="loginId">ログインID</label>
      <ng-container *ngIf="form.controls['loginId'].touched">
        <span class="helper-text" *ngIf="form.controls['loginId'].hasError('required')" data-error="入力してください"></span>
        <span class="helper-text" *ngIf="form.controls['loginId'].hasError('maxlength')"
          data-error="30文字以内で入力してください"></span>
      </ng-container>
    </div>
  </div>

  <div class="row">
    <div class="col s12 input-field">
      <input id="mail" type="email" class="validate" formControlName="mail" required maxlength="256" data-length="256">
      <label for="mail">メールアドレス</label>
      <ng-container *ngIf="form.controls['mail'].touched">
        <span class="helper-text" *ngIf="form.controls['mail'].hasError('required')" data-error="入力してください"></span>
        <span class="helper-text" *ngIf="form.controls['mail'].hasError('email')" data-error="Eメール形式で入力してください"></span>
        <span class="helper-text" *ngIf="form.controls['mail'].hasError('maxlength')"
          data-error="256文字以内で入力してください"></span>
      </ng-container>
    </div>
  </div>

  <div class="row">
    <div class="col s12 input-field">
      <input id="password" type="password" class="validate" formControlName="password" required maxlength="30"
        data-length="30">
      <label for="password">パスワード</label>
      <ng-container *ngIf="form.controls['password'].touched">
        <span class="helper-text" *ngIf="form.controls['password'].hasError('required')" data-error="入力してください"></span>
        <span class="helper-text" *ngIf="form.controls['password'].hasError('maxlength')"
          data-error="30文字以内で入力してください"></span>
      </ng-container>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <label>
        <input id="isAgreeTerm" type="checkbox" formControlName="isAgreeTerm" required>
        <span><a routerLink="/terms" target="_blank" rel="noopener"
            appThemeColorText="mainLink">利用規約</a>に同意の上、「利用規約に同意して登録」ボタンを押してください。</span>
      </label>
      <button [disabled]="!form.valid || isError" class="btn waves-effect right" type="submit"
        appThemeColorBg="accent">利用規約に同意して登録</button>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <p class="red-text" *ngIf="isInValid">既に利用されています。別のログインIDでお試しください。アカウントをお持ちの方は
        <a routerLink="/login">ログイン</a>へ。</p>
      <p class="red-text" *ngIf="isError">申し訳ございません。ただいま回線が込み合っています。しばらくお待ちください。</p>
    </div>
  </div>
</form>