<section class="section animated fadeIn" *ngIf="!isCompleted">
  <h2 class="h5 red-text darken-1">パスワード再設定</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value, form.valid)">
    <div class="row">
      <div class="input-field">
        <input id="mail" type="email" class="validate" formControlName="mail" required maxlength="256"
          data-length="256">
        <label for="mail">メールアドレス</label>
        <ng-container *ngIf="form.controls['mail'].touched">
          <span class="helper-text" *ngIf="form.controls['mail'].hasError('required')" data-error="入力してください"></span>
          <span class="helper-text" *ngIf="form.controls['mail'].hasError('email')" data-error="Eメール形式で入力してください"></span>
          <span class="helper-text" *ngIf="form.controls['mail'].hasError('maxlength')"
            data-error="256文字以内で入力してください"></span>
        </ng-container>
      </div>
    </div>

    <div class="row">
      <div class="input-field">
        <input id="password" type="text" autocomplete="off" class="validate" formControlName="password" required
          maxlength="30" data-length="30">
        <label for="password">パスワード</label>
        <ng-container *ngIf="form.controls['password'].touched">
          <span class="helper-text" *ngIf="form.controls['password'].hasError('required')" data-error="入力してください"></span>
          <span class="helper-text" *ngIf="form.controls['password'].hasError('maxlength')"
            data-error="30文字以内で入力してください"></span>
        </ng-container>
      </div>
    </div>

    <div class="row">
      <input id="token" type="hidden" formControlName="token" required>

      <button [disabled]="!form.valid || isError" class="btn waves-effect waves-light right pink accent-2"
        type="submit">更新する</button>
    </div>

    <div class="row">
      <p class="red-text" *ngIf="isInValid">送信されたメールアドレスは登録されていません。入力内容にお間違いないかご確認ください。</p>
      <p class="red-text" *ngIf="isError">申し訳ございません。ただいま回線が込み合っています。しばらくお待ちください。</p>
    </div>
  </form>

</section>

<!-- 完了メッセージ -->
<section class="section animated fadeIn" *ngIf="isCompleted">
  <h2 class="h5 red-text darken-1">パスワードを更新しました。</h2>

  <br>

  <div class="row">
    <p class="h6">引き続き、{{title}}をお楽しみくださいませ。</p>
  </div>
  <div class="row">
    <p class="h6"><a routerLink="/login">ログイン画面へ</a></p>
  </div>

  <br>
</section>