<section class="section animated fadeIn" *ngIf="!isCompleted">
  <h2 class="h5 red-text darken-1">パスワードをお忘れですか？</h2>

  <div class="row">
    <p>メールアドレスを入力して「送信」ボタンを押してください。</p>
    <p>
      登録されているメールアドレス宛にURLが送信されますので、<br>
      そのURLからパスワード変更画面にて、パスワードの変更を行ってください。
    </p>
  </div>

  <br>

  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value, form.valid)">
    <div class="row">
      <div class="input-field">
        <input id="mail" type="email" class="validate" formControlName="mail" required maxlength="256"
          data-length="256">
        <label for="mail">メールアドレス</label>
        <ng-container *ngIf="form.controls['mail'].touched">
          <span class="helper-text" *ngIf="form.controls['mail'].hasError('required')" data-error="入力してください"></span>
          <span class="helper-text" *ngIf="form.controls['mail'].hasError('email')" data-error="Eメール形式で入力してください"></span>
          <span class="helper-text" *ngIf="form.controls['mail'].hasError('maxlength')"
            data-error="256文字以内で入力してください"></span>
        </ng-container>
      </div>
    </div>

    <div class="row">
      <button [disabled]="!form.valid || isError" class="btn waves-effect waves-light right pink accent-2"
        type="submit">送信する</button>
    </div>

    <div class="row">
      <p class="red-text" *ngIf="isInValid">送信されたメールアドレスは登録されていません。入力内容にお間違いないかご確認ください。</p>
      <p class="red-text" *ngIf="isError">申し訳ございません。ただいま回線が込み合っています。しばらくお待ちください。</p>
    </div>
  </form>

</section>

<!-- 完了メッセージ -->
<section class="section animated fadeIn" *ngIf="isCompleted">
  <h2 class="h5 red-text darken-1">パスワード再設定を受け付けました</h2>

  <br>

  <div class="row">
    <p class="h6">{{form.value.mail}} 宛にメールを送信いたしました。</p>
    <p class="h6">メールに記載されているURLより、パスワードの再設定を行ってください。</p>
  </div>

  <br>
</section>