<div id="share-modal" class="modal">
  <div class="collection">
    <a href="javascript:void(0);" class="collection-item" (click)="shareFacebook()">Facebookでシェア</a>
    <a href="javascript:void(0);" class="collection-item" (click)="shareTwitter()">Twitterでシェア</a>
    <a href="javascript:void(0);" class="collection-item" (click)="shareLine()">LINEでシェア</a>
    <a href="javascript:void(0);" class="collection-item" (click)="shareMail()">メールでシェア</a>
    <a href="javascript:void(0);" class="collection-item" (click)="copyLink()">リンクをコピー</a>
    <a href="javascript:void(0);" class="modal-close grey-text collection-item">キャンセル</a>
  </div>
</div>