<section class="section animated fadeIn">
  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value, form.valid)" autocomplete="off">
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">mic</i>
        <input id="question" type="text" class="validate" formControlName="question">
        <label for="question">問題を入力</label>
        <ng-container *ngIf="form.controls['question'].touched">
          <span class="helper-text" *ngIf="form.controls['question'].hasError('required')" data-error="入力してください"></span>
          <span class="helper-text" *ngIf="form.controls['question'].hasError('maxlength')"
            data-error="200文字以内で入力してください"></span>
        </ng-container>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="answer" type="text" class="validate" formControlName="answer">
        <label for="answer">答えを入力</label>
        <ng-container *ngIf="form.controls['answer'].touched">
          <span class="helper-text" *ngIf="form.controls['answer'].hasError('required')" data-error="入力してください"></span>
          <span class="helper-text" *ngIf="form.controls['answer'].hasError('maxlength')"
            data-error="50文字以内で入力してください"></span>
        </ng-container>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <div class="chips">
          <input class="custom-class">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="hint" type="text" class="validate" formControlName="hint">
        <label for="hint">ヒントを入力</label>
        <ng-container *ngIf="form.controls['hint'].touched">
          <span class="helper-text" *ngIf="form.controls['hint'].hasError('maxlength')"
            data-error="50文字以内で入力してください"></span>
        </ng-container>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="explanation" type="text" class="validate" formControlName="explanation">
        <label for="explanation">解説を入力</label>
        <ng-container *ngIf="form.controls['explanation'].touched">
          <span class="helper-text" *ngIf="form.controls['explanation'].hasError('maxlength')"
            data-error="100文字以内で入力してください"></span>
        </ng-container>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <button [disabled]="!form.valid || isError" class="btn waves-effect waves-light right" type="submit">登録
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
  </form>
</section>
<section class="section">
  <ul class="collapsible">
    <ng-container *ngIf="quizData">
      <li *ngFor="let quiz of quizData.content">
        <div class="collapsible-header">
          <i class="material-icons right">keyboard_arrow_down</i>
          {{quiz.question}}
        </div>
        <div class="collapsible-body">
          <div class="row">答え：<span>{{quiz.answer}}</span></div>
          <div class="row">解説：<span>{{quiz.explanation}}</span></div>
        </div>
      </li>
    </ng-container>
  </ul>

  <ul class="pagination" *ngIf="this.pagination.length > 0">
    <li [ngClass]="quizData.first ? 'disabled' : 'waves-effect'">
      <a (click)="getQuizList({page: quizData.number - 1})">
        <i class="material-icons">chevron_left</i>
      </a>
    </li>
    <li *ngFor="let i of this.pagination" [ngClass]="quizData.number + 1 == i ? 'active' : 'waves-effect'">
      <a (click)="getQuizList({page: i - 1})">{{i}}</a>
    </li>
    <li [ngClass]="quizData.last ? 'disabled' : 'waves-effect'">
      <a (click)="getQuizList({page: quizData.number + 1})">
        <i class="material-icons">chevron_right</i>
      </a>
    </li>
  </ul>
</section>

<div class="fixed-action-btn">
  <a class="btn-floating btn-large red">
    <i class="large material-icons">menu</i>
  </a>
  <ul>
    <li>
      <a class="btn-floating green tooltipped" data-tooltip="問読み再生">
        <i class="material-icons">volume_up</i></a>
    </li>
    <li>
      <a class="btn-floating blue tooltipped" data-tooltip="新規クイズ登録">
        <i class="material-icons">create</i></a>
    </li>
  </ul>
</div>