.collapsible:empty {
  display: none;
}

.collapsible-header {
  display: block; /* flexを解除 */
}

.collapsible li.active .collapsible-header {
  background-color: #EEE;
}

/* アイコンを回転させる */
.collapsible li i.arrow {
  animation: spinof 0.2s linear;
  transform: rotate(0deg);
}
.collapsible li.active i.arrow {
  animation: spinon 0.2s linear;
  transform: rotate(180deg);
}
@keyframes spinon {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(180deg);}
}
@keyframes spinof {
  0% {transform: rotate(180deg);}
  100% {transform: rotate(0deg);}
}

.fusen {
	width: 200px;
	height: 40px;
	line-height: 40px;
	position: relative;
	background: #f0f0f0; /* 付箋の色 */

  &:before {
    content: "正解：...";
  }
  &:after {
    width: 170px;
    height: 35px;
    content: "";
    position: absolute;
    top: 0;
    right: 2px;
    /* ぼかし */
    -moz-box-shadow: 0 5px 5px #999; /* Firefox */
    -webkit-box-shadow: 0 5px 5px #999; /* Safari and Chrome */
    box-shadow: 0 5px 5px #999;
    /* 回転 */
    -moz-transform: rotate(3deg); /* FireFox */
    -webkit-transform: rotate(3deg); /* Safari and Chrome */
    -o-transform: rotate(3deg); /* Opera */
    -ms-transform: rotate(3deg); /* IE */
    transform: rotate(3deg);
    z-index: -1;
  }
}
.fusen2 {
	width: 200px;
	height: 40px;
	line-height: 40px;
	position: relative;
	background: #f0f0f0; /* 付箋の色 */
}