<section [ngClass]="isCreate ? 'section animated fadeIn' : 'hide'">
  <app-quiz-form (onSubmit)="create($event)"></app-quiz-form>
</section>
<section class="section">
  <ul class="collapsible">
    <ng-container *ngIf="quizData">
      <li *ngFor="let quiz of quizData.content" class="animated fadeIn">
        <div class="collapsible-header">
          <i class="arrow material-icons right">keyboard_arrow_down</i>
          {{quiz.question}}
        </div>
        <div class="collapsible-body">
          <div class="row">答え：<span>{{quiz.answer}}</span></div>
          <div class="row">解説：<span>{{quiz.explanation}}</span></div>
          <div class="row">
            <a class="waves-effect waves-teal btn-flat right">
              <span class="hide-on-med-and-up"><i class="material-icons">edit</i></span>
              <span class="hide-on-small-only"><i class="material-icons left">edit</i>編集</span>
            </a>
            <a class="waves-effect waves-teal btn-flat right">
              <span class="hide-on-med-and-up"><i class="material-icons">mic</i></span>
              <span class="hide-on-small-only"><i class="material-icons left">mic</i>録音</span>
            </a>
            <a class="waves-effect waves-red btn-flat red-text right">
              <span class="hide-on-med-and-up"><i class="material-icons">delete</i></span>
              <span class="hide-on-small-only"><i class="material-icons left">delete</i>削除</span>
            </a>
          </div>
        </div>
      </li>
    </ng-container>
  </ul>

  <ul class="pagination" *ngIf="this.pagination.length > 0">
    <li [ngClass]="quizData.first ? 'disabled' : 'waves-effect'">
      <a (click)="getQuizList(quizData.number - 1)">
        <i class="material-icons">chevron_left</i>
      </a>
    </li>
    <li *ngFor="let i of this.pagination" [ngClass]="quizData.number + 1 == i ? 'active' : 'waves-effect'">
      <a (click)="getQuizList(i - 1)">{{i}}</a>
    </li>
    <li [ngClass]="quizData.last ? 'disabled' : 'waves-effect'">
      <a (click)="getQuizList(quizData.number + 1)">
        <i class="material-icons">chevron_right</i>
      </a>
    </li>
  </ul>
</section>

<div class="fixed-action-btn">
  <a class="btn-floating btn-large red">
    <i class="large material-icons">menu</i>
  </a>
  <ul>
    <li>
      <a class="btn-floating green tooltipped" data-tooltip="問読み再生">
        <i class="material-icons">volume_up</i></a>
    </li>
    <li>
      <a class="btn-floating blue tooltipped" data-tooltip="新規クイズ登録" (click)="openCreateForm()">
        <i class="material-icons">create</i></a>
    </li>
  </ul>
</div>