.collapsible-header {
  display: block; /* flexを解除 */
}

.collapsible li.active .collapsible-header {
  background-color: #EEE;
}

/* アイコンを回転させる */
.collapsible li i {
  animation: spinof 0.2s linear;
  transform: rotate(0deg);
}
.collapsible li.active i {
  animation: spinon 0.2s linear;
  transform: rotate(180deg);
}
@keyframes spinon {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(180deg);}
}
@keyframes spinof {
	0% {transform: rotate(180deg);}
	100% {transform: rotate(0deg);}
}