<section class="section animated fadeIn">
  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value, form.valid)">
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">mic</i>
        <input id="question" type="text" class="validate" formControlName="question">
        <label for="question">問題を入力</label>
        <ng-container *ngIf="form.controls['question'].touched">
          <span class="helper-text" *ngIf="form.controls['question'].hasError('required')" data-error="入力してください"></span>
          <span class="helper-text" *ngIf="form.controls['question'].hasError('maxlength')"
            data-error="200文字以内で入力してください"></span>
        </ng-container>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <div class="chips">
          <input class="custom-class">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <button [disabled]="!form.valid || isError" class="btn waves-effect waves-light right" type="submit">登録
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
  </form>
</section>
<section class="section">
  <div class="row">
    <div class="col s12 m4" *ngFor="let quiz of quizList">
      <app-quiz-card [quiz]="quiz"></app-quiz-card>
    </div>
  </div>
</section>