<section class="section animated fadeIn">
  <form [formGroup]="imageForm" enctype="multipart/form-data">
    <div class="row">
      <div class="col s3" (click)="fl.click()">
        <img appAccountImage *ngIf="!blobUrl && account" [src]="account.imgUrl" [alt]="account.loginId"
          class="avatar circle responsive-img">
        <img *ngIf="blobUrl" [src]="blobUrl" class="avatar circle responsive-img">
      </div>
      <div class="file-field input-field col s9">
        <div class="btn pink accent-2">
          <span>プロフィール画像を更新</span>
          <input type="file" name="upfile" accept="image/*" #fl (change)="onchange(fl.files)">
        </div>
        <div class="file-path-wrapper hide">
          <input class="file-path validate" type="text">
        </div>
      </div>
    </div>
  </form>

  <form id="profileForm" [formGroup]="form" (ngSubmit)="onSubmit(form.value, form.valid)">
    <div class="row">
      <div class="col s12 input-field">
        <input id="name" type="text" class="validate" formControlName="name" required maxlength="30" data-length="30">
        <label for="name" [ngClass]="{active: form.controls['name'].value}">名前</label>
        <ng-container *ngIf="form.controls['name'].touched">
          <span class="helper-text" *ngIf="form.controls['name'].hasError('required')" data-error="入力してください"></span>
          <span class="helper-text" *ngIf="form.controls['name'].hasError('maxlength')"
            data-error="30文字以内で入力してください"></span>
        </ng-container>
      </div>
    </div>

    <div class="row">
      <div class="col s12 input-field">
        <textarea id="description" type="text" class="validate materialize-textarea" formControlName="description"
          maxlength="120" data-length="120"></textarea>
        <label for="description" [ngClass]="{active: form.controls['description'].value}">自己紹介</label>
        <ng-container *ngIf="form.controls['description'].touched">
          <span class="helper-text" *ngIf="form.controls['description'].hasError('maxlength')"
            data-error="120文字以内で入力してください"></span>
        </ng-container>
      </div>
    </div>

    <div class="row">
      <div class="col s12 input-field">
        <button [disabled]="!form.valid || isError" class="btn waves-effect waves-light right pink accent-2"
          type="submit">保存する</button>
      </div>
    </div>

    <div class="row">
      <div class="col s12 input-field">
        <p class="red-text" *ngIf="isError">申し訳ございません。ただいま回線が込み合っています。しばらくお待ちください。</p>
      </div>
    </div>
  </form>
</section>