<section class="section animated fadeIn">
  <h2 class="h4" appThemeColorText="mainHeadline">グループを探す</h2>

  <br>

  <div class="row">
    <h3 class="h5">おすすめグループ</h3>
  </div>

  <ng-container *ngIf="groupData">
    <!-- おすすめグループがある場合 -->
    <ul class="collection">
      <li *ngFor="let group of groupData.content" class="collection-item avatar animated fadeIn">
        <a [routerLink]="['/group/', group.cd]">
          <img appGroupImage [src]="group.imgUrl" [alt]="group.name" class="avatar circle">
        </a>
        <a [routerLink]="['/group/', group.cd]" appThemeColorText="mainLink">
          <span class="title">{{group.name}}</span>
        </a>
        <p class="truncate description">{{group.description}}</p>
      </li>
    </ul>
    <!-- おすすめグループがない場合 -->
    <ng-container *ngIf="groupData.totalElements === 0">
      <div class="row">
        <p>おすすめグループが見つかりませんでした。</p>
        <p>グループを作成して招待してみましょう。</p>
      </div>
      <div class="row">
        <div class="col s8 offset-s2">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <a routerLink="/group/create"><img src="/assets/images/group_kids_no_dog.png" alt="グループを作る"></a>
            </div>
            <div class="card-action center">
              <a routerLink="/group/create" class="waves-effect" appThemeColorText="accent">作る</a>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</section>