<section class="section animated fadeIn">
  <div class="row">
    <div class="col s12 m6">
      <h2 class="h5 red-text darken-1">ログイン</h2>
      <!--
          <p><button class="btn waves-effect waves-light light-blue lighten-1" type="button">Twitterでログインする</button></p>
        -->
      <p><a class="btn waves-effect waves-light indigo darken-2"
          href="https://api.quiz-note.com/api/v1/login/facebook">Facebookでログインする</a></p>
      <!--
          <p><button class="btn waves-effect waves-light deep-purple lighten-5 black-text" type="button">Instagramでログインする</button></p>
        -->
    </div>

    <div class="col s12 m6">
      <form [formGroup]="form" (ngSubmit)="onSubmit(form.value, form.valid)">
        <div class="input-field">
          <input id="loginId" type="email" class="validate" formControlName="loginId" required maxlength="30"
            data-length="30" autocapitalize="off" autocorrect="off">
          <label for="loginId">ログインID</label>
          <ng-container *ngIf="form.controls['loginId'].touched">
            <span class="helper-text" *ngIf="form.controls['loginId'].hasError('required')"
              data-error="入力してください"></span>
            <span class="helper-text" *ngIf="form.controls['loginId'].hasError('maxlength')"
              data-error="30文字以内で入力してください"></span>
          </ng-container>
        </div>

        <div class="input-field">
          <input id="password" type="password" class="validate" formControlName="password" required maxlength="30"
            data-length="30">
          <label for="password">パスワード</label>
          <ng-container *ngIf="form.controls['password'].touched">
            <span class="helper-text" *ngIf="form.controls['password'].hasError('required')"
              data-error="入力してください"></span>
            <span class="helper-text" *ngIf="form.controls['password'].hasError('maxlength')"
              data-error="30文字以内で入力してください"></span>
          </ng-container>
        </div>

        <div class="row">
          <div class="col s12">
            <button [disabled]="!form.valid || isError" class="btn waves-effect waves-light right" type="submit"
              appThemeColor="primary">ログイン</button>
          </div>
        </div>

        <p class="red-text" *ngIf="isInValid">ユーザ名またはパスワードが間違っています。</p>
        <p class="red-text" *ngIf="isError">申し訳ございません。ただいま回線が込み合っています。しばらくお待ちください。</p>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <div class="card-panel">
        <div class="row">
          <div class="col s12">
            <a routerLink="/password/reminder">パスワードをお忘れですか？</a>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <p class="left">もしくはアカウントをお持ちでないですか？&emsp;</p>
            <a routerLink="/signup" class="btn right" appThemeColor="primary">アカウントを登録する</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>