<section class="section animated fadeIn" *ngIf="!isCompleted">
  <h2 class="h4" appThemeColorText="mainHeadline">お問合せ</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value, form.valid)">
    <div class="row">
      <div class="input-field">
        <input id="name" type="text" class="validate" formControlName="name" required maxlength="50" data-length="50">
        <label for="name">お名前</label>
        <ng-container *ngIf="form.controls['name'].touched">
          <span class="helper-text" *ngIf="form.controls['name'].hasError('required')" data-error="入力してください"></span>
          <span class="helper-text" *ngIf="form.controls['name'].hasError('maxlength')"
            data-error="50文字以内で入力してください"></span>
        </ng-container>
      </div>
    </div>

    <div class="row">
      <div class="input-field">
        <input id="mail" type="email" class="validate" formControlName="mail" required maxlength="256"
          data-length="256">
        <label for="mail">メールアドレス</label>
        <ng-container *ngIf="form.controls['mail'].touched">
          <span class="helper-text" *ngIf="form.controls['mail'].hasError('required')" data-error="入力してください"></span>
          <span class="helper-text" *ngIf="form.controls['mail'].hasError('email')" data-error="Eメール形式で入力してください"></span>
          <span class="helper-text" *ngIf="form.controls['mail'].hasError('maxlength')"
            data-error="256文字以内で入力してください"></span>
        </ng-container>
      </div>
    </div>

    <div class="row">
      <div class="input-field">
        <textarea id="content" type="text" class="validate materialize-textarea" formControlName="content"
          maxlength="1000" data-length="1000"></textarea>
        <label for="content">お問合せ内容</label>
        <ng-container *ngIf="form.controls['content'].touched">
          <span class="helper-text" *ngIf="form.controls['content'].hasError('required')" data-error="入力してください"></span>
          <span class="helper-text" *ngIf="form.controls['content'].hasError('maxlength')"
            data-error="1000文字以内で入力してください"></span>
        </ng-container>
      </div>
    </div>

    <div class="row">
      <button [disabled]="!form.valid || isError" class="btn waves-effect right" type="submit"
        appThemeColorBg="accent">送信する</button>
    </div>

    <div class="row">
      <p class="red-text" *ngIf="isInValid || isError">申し訳ございません。ただいま回線が込み合っています。しばらくお待ちください。</p>
    </div>
  </form>

</section>

<!-- お問合せ完了メッセージ -->
<!-- /* 本当は心理学．終末効果をふんだんに取り入れたい!! */ -->
<section class="section animated fadeIn" *ngIf="isCompleted">
  <h2 class="h4" appThemeColorText="mainHeadline">お問合せの受付を完了しました</h2>

  <br>

  <div class="row">
    <p class="h6">お問合せありがとうございます。</p>
    <p class="h6">内容を確認後、担当者よりメール差し上げます。</p>
  </div>

  <br>
</section>