<ul class="collection" *ngIf="groupMemberData">
  <li *ngFor="let groupMember of groupMemberData.content" class="collection-item avatar animated fadeIn">
    <a [routerLink]="['/', groupMember.account.loginId]">
      <img appGroupImage [src]="groupMember.account.imgUrl" [alt]="groupMember.account.name" class="avatar circle">
    </a>
    <span class="title">
      <a [routerLink]="['/', groupMember.account.loginId]" class="pink-text">{{groupMember.account.name}}</a>
      <ng-container *ngIf="groupMember.isManager">
        &nbsp;<i class="material-icons amber-text" title="管理者">grade</i>
      </ng-container>
    </span>

    <p class="truncate description">{{groupMember.account.description}}</p>
    <a *ngIf="isManager" [routerLink]="['/', groupMember.account.loginId]"
      class="secondary-content grey-text text-darken-2">
      <i class="material-icons">more_vert</i></a>
  </li>
</ul>