<!-- 詳細メニューモーダル -->
<div id="member-menu-modal" class="modal">
  <div class="collection">
    <a href="javascript:void(0);" class="collection-item pink-text" (click)="changeManagerConfirm()">管理者にする</a>
    <a href="javascript:void(0);" class="collection-item pink-text" (click)="leaveConfirm()">退会させる</a>
    <a href="javascript:void(0);" class="modal-close grey-text collection-item">キャンセル</a>
  </div>
</div>

<!-- 退会確認モーダル -->
<div id="member-confirm-leave-modal" class="modal">
  <div class="modal-content" *ngIf="account">
    <h4 class="h6">{{account.name}}さんを退会させますか？</h4>
    <div class="row">
      <div class="col offset-s4 s3">
        <img appAccountImage [src]="account.imgUrl" [alt]="account.name" class="avatar circle responsive-img">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a href="javascript:void(0)" (click)="leave()" class="waves-effect waves-light btn-flat red-text">グループから退会させる</a>
    <a href="javascript:void(0)" class="modal-close waves-effect waves-light btn-flat">キャンセル</a>
  </div>
</div>