<div class="animated fadeIn">
  <div class="row">
    <div class="col s12">
      <section class="section">
        <h2 class="h4" appThemeColorText="mainHeadline">利用規約</h2>
      </section>

      <section class="section">
        <h3 class="h5" appThemeColorText="mainHeadline">第1条</h3>
        <ol>
          <li>
            「******」利用規約（以下「本規約」といいます）は、＊＊＊＊（以下「当社」といいます）が運営するサービス「*******」（以下「本サービス」といいます）の利用条件を定めたものです。お客様は、本規約に同意のうえ、本サービスを利用するものとします。
          </li>
          <li>
            お客様が本サービスを利用した場合には、本規約に同意したものとみなします。なお、当社は、お客様に対する事前又は事後の通知なしに本規約を改定できるものとします。また、本規約の改定後、本サービス上に表記した時点で改定後の本規約を適用するものとし、変更後に利用があった場合には、お客様は改定後の規約に同意したものとみなします。
          </li>
        </ol>
      </section>

      <section class="section">
        <h3 class="h5" appThemeColorText="mainHeadline">第2条</h3>
        <ol>
          <li>本サービスを利用するためには、当社規定の方法によりお客様本人が申し込みを行い、利用登録を行う必要があります。</li>
          <li>お客様が未成年の場合、成年後見人の同意が必要です。未成年のお客様が今サービスを利用して損害が発生した場合、成年後見人が一切の責任を負うものとし、当社は一切責任を負いません。</li>
          <li>本サービスを利用することができるのは、登録者本人のみとします。</li>
          <li>利用登録の解約、解除又は本サービスの終了と同時に、お客様の本サービスに関する一切の情報が削除され、お客様の権利は喪失するものとします。なお、一度削除された情報を復旧することはできません。</li>
        </ol>
      </section>

      <section class="section">
        <h3 class="h5" appThemeColorText="mainHeadline">第3条</h3>
        <ol>
          <li>お客様は本サービスを受けるためのモバイル機器費用、通信費など、本サービスを利用する上で必要となる一切の費用を負担するものとします。</li>
        </ol>
      </section>

      <section class="section">
        <h3 class="h5" appThemeColorText="mainHeadline">第4条</h3>
        <ol>
          <li>お客様の登録した情報又は蓄積したデータに関し、当社から変更又は削除の依頼があった場合には、お客様は速やかに対応を行うものとします。</li>
          <li>当社からの情報の変更又は削除の要請があったにもかかわらず対応しなかったことによりお客様に損害が発生した場合、当社は一切責任を負いません。</li>
        </ol>
      </section>

      <section class="section">
        <h3 class="h5" appThemeColorText="mainHeadline">第5条</h3>
        <ol>
          <li>お客様が本規約の禁止事項のいずれかに該当すると判断した場合、当社は事前に通知することなく、以下の措置を講ずることができるものとします。
            <ol>
              <li>当社の判断に基づいた期間の本サービスの利用停止</li>
              <li>利用登録の解除</li>
              <li>その他当社が適当と判断した措置</li>
            </ol>
          </li>
          <li>当社は、前項の措置に関連してお客様に損害が発生しても、一切の責任を負いません。また、当社は当該措置についての説明、苦情等の受付に応じる義務はないものとします。</li>
        </ol>
      </section>

      <section class="section">
        <h3 class="h5" appThemeColorText="mainHeadline">第6条</h3>
        <ol>
          <li>本サービスの有料コンテンツ(仮想通貨)を利用する場合には、当社が定めた利用料金をお客様にお支払いいただいたことを条件に、お客様は本規約に従って本サービスを利用することが許諾されます。</li>
          <li>
            利用料金のお支払い手段は、当社が指定する決済手段提供会社が別途定める支払い条件等に従い、仮想通貨を購入するものとします。また、お客様と決済手段提供会社との間で、決済に関して紛争等が生じた場合、お客様は当該決済手段提供会社との間で解決を図るものとし、当社の責めに帰すべ事由のある場合を除き、当社一切の責任を負わないものとします。
          </li>
          <li>お客様が一度支払われた利用料金は一切返金できません。</li>
          <li>お客様は、本サービスの利用に関して発生したすべての料金を支払うものとし、いかなる理由によってもその支払いを留保する権利は有していないものとします。</li>
          <li>当社からプレゼントにより無償で付与された仮想通貨は付与から当初所定の日数が経過しても受け取りが行われなかった場合には、当社の裁量により削除されるものとし、お客様はこれを予め了承するものとします。</li>
          <li>
            当社は、お客様の責めに帰すべき事由により、本規約に基づきお客様のアカウントを削除した場合、またはお客様がアプリをアンインストールし、当社がお客様のアカウントを削除した場合、お客様のアカウントで保有されている仮想通貨をお客様の同意を得ることなく無効とし、お客様のアカウントから削除することができるものとします。なお、仮想通貨無効により、お客様に損害が生じた場合であっても、当社は一切の責任を負わないものとします。
          </li>
        </ol>
      </section>

      <section class="section">
        <h3 class="h5" appThemeColorText="mainHeadline">第7条</h3>
        <ol>
          <li>お客様は、本サービスを利用するにあたり、下記の事項に該当する、もしくはおそれのある行為（以下「本禁止行為」といいます）を行うことを禁止します。</li>
          <li>
            お客様が本禁止行為を行ったと当社が判断した場合、お客様は本規約を違反したものとみなされ、該当箇所の削除やお客様に対して、注意、警告、お客様が送信、または表示するデータの削除、本サービスの利用の全部、または一部の一時、または永久の停止、会員登録の削除を実行できるものとします。尚、当社は、お客様に通知、理由の説明、または開示を行わず、これらの措置を行うことができるものとします。
          </li>
        </ol>
        <h4 class="h6" appThemeColorText="mainHeadline">＜本禁止行為＞</h4>
        <ol>
          <li>他のお客様に不快感を与える言動、または他のお客様、および、第三者の誹謗中傷流言等、信用または名誉を損する言動</li>
          <li>脅迫的暴力的な言動、人権偏見又は差別的な言動、法に反した言動、低俗またはわいせつ的な言動、中傷的な言動</li>
          <li>宗教、人種、性、民族、人権およびその他のあらゆる偏見に基づく信条をもった、もしくは商業活動、団体への勧誘行為、禁制品の交換、宗教活動を意図とした活動</li>
          <li>国際法、憲法、法律、条例、その他の法令に接触する行為または接触するおそれのある行為</li>
          <li>当社、または第三者の著作権、商標権、その他一切の権利を侵害する行為またはおそれのある行為</li>
          <li>本サービスに掲載されている情報の改善、消去、不正なアクセス、他の実在するまたは架空の人物へのなりすまし行為</li>
          <li>データを不正に変更し、操作しようとする行為。BOT・チートツール等、本サービスを不正に操作する外部ツールの利用・作成・配布・販売を行う行為</li>
          <li>第三者の個人情報を収集する、蓄積する行為、またはその恐れのある行為</li>
          <li>面識のない異性との出会いや交際等を希望、または誘導することが主目的であると当社が判断する一切の行為</li>
          <li>未成年の健全な育成に悪影響を与える、又は障害を及ぼすと反される行為。</li>
          <li>未成年の家出を誘引、または助長する行為</li>
          <li>わいせつ、児童ポルノまたは児童虐待に相当する情報等を表示する行為、またはこれらの情報を収集した媒体を販売する行為、その送信、表示、販売を想起させる広告を送信、表示する行為</li>
          <li>未成年（18歳未満）を異性交際の相手方となるよう勧誘する行為</li>
          <li>公序良俗に反する行為、またはその恐れのある行為</li>
          <li>犯罪（詐欺、薬物の濫用、児童売春、預金通帳、および携帯電話の違法な売買等）に結びつく行為、またはそのおそれのある行為</li>
          <li>違法行為（拳銃等の譲渡、爆発物の製造や譲渡、児童ポルノの提供、殺人、脅迫、賭博等）に結びつく行為、またその恐れのある行為</li>
          <li>本サービスのIDおよびデータを貸与、譲渡、名義変更、売買、質入、または第三者に利用を許可すること。および担保の用に供する行為</li>
          <li>本サービスの不具合、または障害を不正な目的で利用する行為、これらの不具合または障害により得たデータを利用する行為</li>
          <li>前各号に挙げた事項以外の、当社および本サービス運営者に支障を与えた、又は支障を与える可能性のある一切の行為</li>
          <li>前各号に準ずる行為</li>
          <li>その他、当社が禁止行為であると判断し、お客様に通知又は公表した行為</li>
        </ol>
      </section>

      <section class="section">
        <h3 class="h5" appThemeColorText="mainHeadline">第8条</h3>
        <ol>
          <li>当社は、お客様に事前に通知することなく、本サービスの内容を変更することがあります。</li>
          <li>
            当社は、お客様に対し事前に通知を行った上で、一時的に本サービスを中断又は停止することがあります。ただし、当社が必要と判断した下記の場合には、お客様に対する事前の通知をすることなく、本サービスの中断又は停止を行うことができるものとします。
            <ol>
              <li>本サービス又は関連設備等の保守・メンテナンス作業を行う場合</li>
              <li>地震等による天災、災害等による影響により、本サービスの運営が不可能になった場合</li>
              <li>緊急やむを得ない事由により、当社が必要と判断した場合</li>
            </ol>
          </li>
          <li>本サービスは、お客様が本サービスの利用を開始してから１年間以上の利用が無かった場合、当該お客様の本サービスの全部、もしくは一部を一時、または永久に停止することができるものとします。</li>
        </ol>
      </section>

      <section class="section">
        <h3 class="h5" appThemeColorText="mainHeadline">第9条</h3>
        <ol>
          <li>当社は、本サービス上に、当社及び、第三者の広告が掲載できるものとします。</li>
          <li>
            当社は、前項の広告を含む、本サービスからのリンクにより遷移可能な第三者のサービスに関して、安全性、適法性、正確性など何らの保証も行わないものとし、お客様の自己の責任と判断によって、上記サービスを利用するものとします。また、お客様の責任により利用したサービスで生じた損害や損失について、当社は一切責任を負わないものとします。
          </li>
        </ol>
      </section>

      <section class="section">
        <h3 class="h5" appThemeColorText="mainHeadline">第10条</h3>
        <ol>
          <li>当社は、お客様に対し相当期間を定め本サービスの終了を通知することにより、本サービスを終了させることができるものとします。</li>
          <li>お客様は本サービスの終了と同時に本サービスに関する一切の権利及び資格を失うものとします。</li>
          <li>当社は、本サービス終了にともなうお客様の損害について、法令で定められている事項を除き、一切責任を負わないものとします。</li>
        </ol>
      </section>

      <section class="section">
        <h3 class="h5" appThemeColorText="mainHeadline">第11条</h3>
        <ol>
          <li>お客様は、第三者の肖像権、プライバシー権又はパブリシティ権その他一切の権利を侵害する行為をしてはならないものとします。</li>
          <li>お客様は、当社及び第三者の著作権その他知的財産権を侵害する行為を行わないものとします。</li>
          <li>本サービスに関する知的財産権その他一切の権利は当社に留保されるものとし、お客様には、本サービス内における使用権のみが許諾されます。</li>
        </ol>
      </section>

      <section class="section">
        <h3 class="h5" appThemeColorText="mainHeadline">第12条</h3>
        <ol>
          <li>当社は、お客様のIDが第三者に使用されたことにより、当該お客様又は第三者が損害を被ったとしても、当該損害について一切の責任を負いません。</li>
          <li>当社は、本サービスの内容、お客様に提供する情報、お客様により記録される情報の内容の正確さ、有用さについていかなる保証も行ないません。</li>
          <li>当社は、本サービス内の表示が完全、正確であることについて、いかなる保証も行ないません。</li>
          <li>お客様は、本サービス利用に関連し、他のお客様又は第三者との間に紛争等が生じた場合には、自己の責任と費用をもって解決するものとし、当社は一切の責任を負いません。</li>
          <li>当社は、本サービス上のエラー、バグ等がないこと、その他安全な本サービスの提供に関して保証しないものとします。</li>
          <li>当社は、電気通信事業者、電気事業者等の都合により生じるお客様の損害又は不利益について一切の責任を負いません。</li>
          <li>本サービスを利用したことにより、お客様の環境や機器等に何らかの不具合又は損害が発生した場合、当社はこれらに対する補償、賠償を一切行いません。</li>
          <li>当社は、本サービスの利用に関し、お客様に損害又は不利益が発生したとしても、当社のみに重大な過失がある場合を除き一切の責任を負いません。</li>
          <li>当社は、お客様からの本サービスに関する意見・質問等について、返答を行う義務を負いません。</li>
          <li>当社は、本サービスの内容の変更がなされたことにより生じたお客様の損害について、責任を負いません。</li>
          <li>メンテナンスや不具合等の理由の如何を問わず、当社が本サービスを一時中断又は停止する場合、並びに当該中断等がやむを得ない事由により延長されたことにより生じたお客様の損害について、責任を負うものではありません。
          </li>
          <li>
            お客様は本サービスに定められる利用条件を満たした上で本サービスを利用するものとし、利用条件を満たさずに本サービスを利用したことによるいかなる結果についても当社は一切の責任を負いません。また利用条件を満たした場合でも、何ら動作保証をするものでもありません。
          </li>
        </ol>
      </section>

      <section class="section">
        <h3 class="h5" appThemeColorText="mainHeadline">第13条</h3>
        <p>本サービス及び本規約は日本法に基づいて解釈されるものとします。</p>
      </section>

      <section class="section">
        <h3 class="h5" appThemeColorText="mainHeadline">第14条</h3>
        <p>本サービスに起因する当社とお客様間の紛争については、東京地方裁判所をもって第一審の専属的合意管轄裁判所とします。</p>
      </section>

      <section clss="section">
        <p>[改訂 2019年10月31日]</p>
      </section>
    </div>
  </div>
</div>
<br>