.card-image img {
  height: 250px;
  object-fit: cover;
}
.card .card-action a:not(.btn):not(.btn-small):not(.btn-large):not(.btn-large):not(.btn-floating) {
  display: block;
  margin-right: 0;
}

.avatar {
  border: 1px solid rgba(0,0,0,.0975);
}
.description {
  width: 90%;
}