<section class="section animated fadeIn">
  <h2 class="h4 red-text darken-1">グループ一覧</h2>

  <br>

  <ng-container *ngIf="groupData">
    <!-- 所属しているグループがない場合 -->
    <ng-container *ngIf="groupData.totalElements === 0">
      <div class="row">
        <p>グループに所属してみましょう。</p>
      </div>
      <div class="row">
        <button routerLink="/group/explore" class="btn">探す</button>
      </div>
      <div class="row">
        <button routerLink="/group/create" class="btn">作る</button>
      </div>
    </ng-container>

    <!-- 所属しているグループがある場合 -->
    <ul class="collection">
      <li *ngFor="let group of groupData.content" class="collection-item avatar animated fadeIn">
        <a [routerLink]="['/group/', group.cd]">
          <img appGroupImage [src]="group.imgUrl" [alt]="group.name" class="avatar circle">
        </a>
        <a [routerLink]="['/group/', group.cd]" class="pink-text">
          <span class="title">{{group.name}}</span>
        </a>
        <p class="truncate description">{{group.description}}</p>
      </li>
    </ul>
  </ng-container>
</section>