<div class="animated fadeIn">
  <div class="row">
    <div class="col s12">
      <section class="section">
        <h2 class="h4 red-text darken-1">プライバシーポリシー</h2>
        <p>株式会社＊＊＊＊＊（以下「当社」）は、以下のとおり個人情報保護方針を定め、個人情報保護の仕組みを構築し、全従業員に個人情報保護の重要性の認識と取組みを徹底させることにより、個人情報の保護を推進致します。</p>
      </section>

      <section class="section">
        <h3 class="h5 red-text darken-1">ご提供いただく情報＆利用方法</h3>
        <h4 class="h6 red-text darken-1">お問い合わせ</h4>
        <p>メールアドレス、端末機種名、OS情報等を取得いたします。これらの情報はお問い合わせに対する調査、返答、及びご本人確認のために利用いたします。</p>
        <h4 class="h6 red-text darken-1">その他ご登録いただく情報</h4>
        <p>本サービスを使用し、お客様間でコミュニケーションを行っていただく等の目的で、プロフィール情報（本サービス上での表示名、アイコン画像、メッセージ等）をご登録いただく場合がございます。なお、お客様自身が登録、投稿した情報（テキスト、画像等）は、他のお客様も閲覧できます。ご登録はお客様の任意ですが、ご登録いただけない場合、本サービスまたは本サービスの一部をご利用いただけない場合がございます。</p>
      </section>

      <section class="section">
        <h3 class="h5 red-text darken-1">情報の提供</h3>
        <p>当社はお客様の個人情報を下記の場合を除いて第三者に提供することはございません。</p>

        <ol>
          <li>法律、裁判所、行政機関の命令に従う場合</li>
          <li>お客様が本サービスの利用規約に違反し、弊社の権利、財産等を保護するために、個人情報を公開せざるをえないと判断した場合</li>
          <li>業務の全部、又は一部を第三者に委託する場合</li>
          <li>合併、営業譲渡、その他の事由によって個人情報の提供を含む弊社の事業の承継が行われる場合</li>
        </ol>
      </section>

      <section class="section">
        <h3 class="h5 red-text darken-1">情報の共同利用</h3>
        <p>本サービスを提供するにあたり、当社と共同して業務を行うビジネスパートナーが必要な場合には、お客様の個人情報を共同利用することがあります。この場合に当社は、利用目的、ビジネスパートナーの名称、情報の種類、管理者の名称についてお客様に公表した上で共同利用することといたします。</p>
      </section>

      <section class="section">
        <h3 class="h5 red-text darken-1">他社モジュールの設置</h3>
        <p>当社は、他社媒体に掲載した本サービスの広告費用を広告代理店に支払う目的で、広告掲載効果を測定するため、または利用状況の分析等のために他社モジュールを本サービスのスマートフォン用アプリに設置する場合がございます。</p>
      </section>

      <section class="section">
        <h3 class="h5 red-text darken-1">個人情報の削除</h3>
        <p>本サービスのアカウントを削除した場合、お客様情報は関連法規および社内規定に従って適切に処理いたします。</p>
      </section>

      <section class="section">
        <h3 class="h5 red-text darken-1">プライバシーポリシーの改定</h3>
        <p>本プライバシーポリシーは改定されることがあります。重要な変更がある場合はサイト内にて告知いたします。</p>
      </section>

      <section class="section">
        <h3 class="h5 red-text darken-1">お問い合わせ</h3>
        <p>当社の個人情報の取扱に関するお問い合せは下記までご連絡ください。</p>

        <p>【株式会社○○】</p>
        <p> 〒 ○○○-○○○○</p>
        <p> 東京都新宿区1-2-3　○○ビル10階</p>
        <p>Tel：○○-○○○○-○○○○</p>
        <p>個人情報苦情・相談窓口責任者　アシロ 太郎</p>
      </section>

      <section class="section">
        <p>[制定 2019年10月31日]</p>
      </section>
    </div>
  </div>
</div>

<br>