<section class="section animated fadeIn" *ngIf="!isNotFound">
  <ng-container *ngIf="group">
    <div class="row">
      <div class="col s3">
        <img appGroupImage [src]="group.imgUrl" [alt]="group.name" class="avatar circle responsive-img">
      </div>
      <div class="col s9">
        <div>
          <h3 class="h5">{{group.name}}</h3>&nbsp;
          <h2 class="h6 grey-text">@{{group.cd}}</h2>
        </div>
        <button *ngIf="isManager" class="waves-effect waves-light btn-small pink accent-2"
          [routerLink]="['/group/edit', group.cd]">グループ編集</button>
        <button class="btn-flat modal-trigger grey-text text-darken-2" data-target="menu-modal">
          <i class="material-icons">more_horiz</i>
        </button>
      </div>
    </div>
    <div class="row" *ngIf="group.description">
      <div class="col s12">
        {{group.description}}
      </div>
    </div>
  </ng-container>
</section>
<section class="section animated fadeIn" *ngIf="!isNotFound">
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3">
          <a class="active" href="group#member" title="フォロー({{memberCount}})">メンバー({{memberCount}})</a>
        </li>
        <li class="tab col s3">
          <a href="group#post" title="問題({{postCount}})">問題({{postCount}})</a>
        </li>
      </ul>
    </div>

    <!-- メンバー -->
    <div id="member" class="col s12">
      <app-group-member *ngIf="group" [groupCd]="!group.isBlocked ? group.cd : null" (memberCount)="memberCount=$event"
        [isManager]="isManager">
      </app-group-member>
    </div>

    <!-- 問題 -->
    <div id="post" class="col s12" style="display:none;">
      <app-group-post *ngIf="group" [groupCd]="!group.isBlocked ? group.cd : null" (postCount)="postCount=$event">
      </app-group-post>
    </div>

  </div>
</section>

<section class="section animated fadeIn" *ngIf="isNotFound">
  <div class="row">
    <div class="col s12">
      <h2 class="h5 red-text darken-1">お探しのページは見つかりませんでした。</h2>
      <p>ページが削除されたか移動した可能性があります。</p>
    </div>
  </div>
</section>

<!-- 詳細メニューモーダル -->
<app-group-menu *ngIf="group" [group]="group"></app-group-menu>