<section class="section animated fadeIn" *ngIf="!isNotFound">
  <ng-container *ngIf="group">
    <div class="row">
      <div class="col s3">
        <img appGroupImage [src]="group.imgUrl" [alt]="group.name" class="avatar circle responsive-img">
      </div>
      <div class="col s9">
        <div>
          <h3 class="h5">{{group.name}}</h3>&nbsp;
          <h2 class="h6 grey-text">@{{group.cd}}</h2>
        </div>
        <!-- <ng-container *ngIf="!isMe && !group.isBlocked">
          <button *ngIf="group.isFollow"
            class="btn follow-btn waves-effect waves-light grey-text grey lighten-5 modal-trigger"
            data-target="leave-modal">フォロー中</button>
          <button *ngIf="!group.isFollow" class="btn follow-btn waves-effect waves-light pink accent-2"
            (click)="follow()">フォローする</button>
        </ng-container> -->
        <button *ngIf="isManager" class="waves-effect waves-light btn-small pink accent-2"
          [routerLink]="['/group/edit', group.cd]">グループ編集</button>
        <!-- <button class="btn-flat modal-trigger grey-text text-darken-2" data-target="menu-modal">
          <i class="material-icons">more_horiz</i>
        </button> -->
      </div>
    </div>
    <div class="row" *ngIf="group.description">
      <div class="col s12">
        {{group.description}}
      </div>
    </div>
  </ng-container>
</section>
<section class="section animated fadeIn" *ngIf="!isNotFound">
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3">
          <a class="active" href="group#member" title="フォロー({{memberCount}})">メンバー({{memberCount}})</a>
        </li>
        <li class="tab col s3">
          <a href="group#post" title="問題({{postCount}})">問題({{postCount}})</a>
        </li>
      </ul>
    </div>

    <!-- メンバー -->
    <div id="member" class="col s12">
      <app-group-member *ngIf="group" [groupCd]="!group.isBlocked ? group.cd : null" (memberCount)="memberCount=$event">
      </app-group-member>
    </div>

    <!-- 問題 -->
    <div id="post" class="col s12" style="display:none;">
      <app-group-post *ngIf="group" [groupCd]="!group.isBlocked ? group.cd : null" (postCount)="postCount=$event">
      </app-group-post>
    </div>

  </div>
</section>

<!-- 脱退解除確認モーダル -->
<div id="leave-modal" class="modal">
  <div class="modal-content" *ngIf="group">
    <h4 class="h6">@{{group.name}}から抜けますか？</h4>
    <div class="row">
      <div class="col offset-s4 s3">
        <img appAccountImage [src]="group.imgUrl" [alt]="group.name" class="avatar circle responsive-img">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a href="javascript:void(0)" (click)="leave()" class="waves-effect waves-light btn-flat red-text">グループから抜ける</a>
    <a href="javascript:void(0)" class="modal-close waves-effect waves-light btn-flat">キャンセル</a>
  </div>
</div>

<section class="section animated fadeIn" *ngIf="isNotFound">
  <div class="row">
    <div class="col s12">
      <h2 class="h5 red-text darken-1">お探しのページは見つかりませんでした。</h2>
      <p>ページが削除されたか移動した可能性があります。</p>
    </div>
  </div>
</section>

<!-- 詳細メニューモーダル -->
<!-- <app-group-menu *ngIf="group" [group]="group"></app-group-menu> -->