@import "../node_modules/materialize-css/sass/materialize";

body {
  overflow-y: scroll;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
.h2 {
  margin: 2.3733333333rem 0 1.424rem 0;
  font-size: 3.56rem;
  line-height: 110%;
}
.h3 {
  margin: 1.9466666667rem 0 1.168rem 0;
  font-size: 2.92rem;
  line-height: 110%;
}
.h4 {
  margin: 1.52rem 0 .912rem 0;
  font-size: 2.28rem;
  line-height: 110%;
}
.h5 {
  margin: 1.0933333333rem 0 .656rem 0;
  font-size: 1.64rem;
  line-height: 110%;
}
.h6 {
  margin: .7666666667rem 0 .46rem 0;
  font-size: 1.15rem;
  line-height: 110%;
}
.cover {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.modal {
  border-radius: 12px;
}
