<section class="section animated fadeIn" *ngIf="!isNotFound">
  <ng-container *ngIf="account">
    <div class="row">
      <div class="col s3">
        <img appAccountImage [src]="account.imgUrl" [alt]="account.loginId" class="avatar circle responsive-img">
      </div>
      <div class="col s9">
        <div>
          <h3 class="h5">{{account.name}}</h3>&nbsp;
          <h2 class="h6 grey-text">@{{account.loginId}}</h2>
        </div>
        <ng-container *ngIf="!isMe && !account.isBlocked">
          <button *ngIf="account.isFollow"
            class="btn follow-btn waves-effect waves-light grey-text grey lighten-5 modal-trigger"
            data-target="unfollow-modal">フォロー中</button>
          <button *ngIf="!account.isFollow" class="btn follow-btn waves-effect waves-light pink accent-2"
            (click)="follow()">フォローする</button>
        </ng-container>
        <a *ngIf="isMe" class="waves-effect waves-light btn-small pink accent-2"
          routerLink="/setting/profile">プロフィール編集</a>
        <button class="btn-flat modal-trigger grey-text text-darken-2" data-target="menu-modal">
          <i class="material-icons">more_horiz</i>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <span>
          <a *ngIf="account.twitter" href="https://twitter.com/{{account.twitter}}" target="_blank" rel="noopener">
            <img src="https://www.google.com/s2/favicons?domain=twitter.com" alt="twitter" width="16" height="16">
          </a>&nbsp;
          <img src="https://www.google.com/s2/favicons?domain=www.facebook.com" alt="facebook" width="16"
            height="16">&nbsp;
          <img src="https://www.google.com/s2/favicons?domain=www.instagram.com" alt="instagram" width="16" height="16">
        </span>
      </div>
    </div>
    <div class="row" *ngIf="account.description">
      <div class="col s12">
        {{account.description}}
      </div>
    </div>
    <div class="row" *ngIf="account.url">
      <div class="col s12">
        <a href="{{account.url}}" target="_blank" rel="me nofollow noreferrer noopener">{{account.url}}</a>
      </div>
    </div>
  </ng-container>
</section>
<section class="section animated fadeIn" *ngIf="!isNotFound">
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3">
          <a class="active" href="account#post" title="投稿({{postCount}})">投稿({{postCount}})</a>
        </li>
        <li class="tab col s3" [ngClass]="{disabled: (followingCount === 0)}">
          <a href="account#following" title="フォロー({{followingCount}})">フォロー({{followingCount}})</a>
        </li>
        <li class="tab col s3" [ngClass]="{disabled: (followersCount === 0)}">
          <a href="account#followers" title="フォローワー({{followersCount}})">フォローワー({{followersCount}})</a></li>
      </ul>
    </div>

    <!-- 投稿 -->
    <div id="post" class="col s12">
      <app-account-post *ngIf="account" [loginId]="!account.isBlocked ? account.loginId : null"
        (postCount)="postCount=$event"></app-account-post>
    </div>

    <!-- フォロー -->
    <div id="following" class="col s12" style="display:none;">
      <app-account-following *ngIf="account" [loginId]="!account.isBlocked ? account.loginId : null"
        (followingCount)="followingCount=$event">
      </app-account-following>
    </div>

    <!-- フォローワー -->
    <div id="followers" class="col s12" style="display:none;">
      <app-account-followers *ngIf="account" [loginId]="!account.isBlocked ? account.loginId : null"
        (followersCount)="followersCount=$event">
      </app-account-followers>
    </div>
  </div>
</section>

<!-- フォロー解除確認モーダル -->
<div id="unfollow-modal" class="modal">
  <div class="modal-content" *ngIf="account">
    <h4 class="h6">@{{account.loginId}}さんのフォローをやめますか？</h4>
    <div class="row">
      <div class="col offset-s4 s3">
        <img appAccountImage [src]="account.imgUrl" [alt]="account.loginId" class="avatar circle responsive-img">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a href="javascript:void(0)" (click)="unfollow()" class="waves-effect waves-light btn-flat red-text">フォローをやめる</a>
    <a href="javascript:void(0)" class="modal-close waves-effect waves-light btn-flat">キャンセル</a>
  </div>
</div>

<section class="section animated fadeIn" *ngIf="isNotFound">
  <div class="row">
    <div class="col s12">
      <h2 class="h5 red-text darken-1">お探しのページは見つかりませんでした。</h2>
      <p>ページが削除されたか移動した可能性があります。</p>
    </div>
  </div>
</section>

<app-my-adsense></app-my-adsense>

<!-- 詳細メニューモーダル -->
<app-account-menu *ngIf="account" [account]="account"></app-account-menu>