.row {
  margin-bottom: 0;
}

.h5, .h6 {
  display: inline-block;
  margin-top: 0;
}

.follow-btn {
  margin: calc(1.0933333333rem / 2) 0 .656rem 1.64rem
}

a.sns-link {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tabs .tab a {
  padding: 0;
}

/* profile card */
#profile-card .card-image {
  height: 150px;
}

#profile-card .card-profile-image {
  width: 70px;
  position: absolute;
  top: 110px;
  z-index: 1;
  cursor: pointer;
}

#profile-card .btn-move-up {
  position: relative;
  top: -40px;
  right: -18px;
  margin-right: 10px !important;
}

#profile-card .card-content p {
  margin: 10px 0 12px;
  font-size: 1.2rem;
}

.card-move-up .move-up {
  padding: 20px;
}
