<div id="profile-card" class="card" *ngIf="account">
  <div class="card-image waves-effect waves-block waves-light">
    <img appAccountImage class="activator" [src]="account.imgUrl" alt="user bg">
  </div>
  <div class="card-content">
    <span class="card-title activator grey-text text-darken-4">{{account.loginId}}</span>
    <span class="grey-text"><a [routerLink]="['/', account.loginId]">@{{account.loginId}}</a></span>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">{{account.loginId}}
      <i class="material-icons right">close</i>
    </span>
    <p>{{account.description}}</p>
  </div>
</div>