<header>
  <div class="navbar-fixed">
    <nav role="navigation">
      <div class="nav-wrapper container"><a id="logo-container" routerLink="/" class="brand-logo">{{title}}</a>

        <ng-container *ngIf="isLink">
          <ul class="right hide-on-med-and-down">
            <!-- ログイン時 -->
            <ng-container *ngIf="authenticated">
              <li><a routerLink="quiz"><i class="material-icons">bookmark</i></a></li>
              <!-- <li><a routerLink="activity"><i class="material-icons">favorite</i></a></li> -->
            </ng-container>
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">
                <i *ngIf="!account" class="material-icons">person</i>
                <img *ngIf="account" [src]="account.imgUrl || '/assets/images/account.png'" [alt]="account.loginId"
                  class="avatar circle responsive-img white" style="width: 28px; vertical-align: middle;">
              </a></li>
          </ul>

          <!-- Dropdown Structure -->
          <ul id="dropdown1" class="dropdown-content">
            <!-- ログイン時 -->
            <ng-container *ngIf="authenticated">
              <li><a class="grey-text text-darken-2" routerLink="account"><i class="material-icons">person</i>アカウント</a>
              </li>
              <li><a routerLink="logout" class="grey-text text-darken-2"><i
                    class="material-icons">exit_to_app</i>ログアウト</a>
              </li>
            </ng-container>
            <!-- 未ログイン時 -->
            <ng-container *ngIf="!authenticated">
              <li><a routerLink="login" class="grey-text text-darken-2">ログイン</a>
              <li><a routerLink="signup" class="grey-text text-darken-2">アカウント登録</a></li>
            </ng-container>
          </ul>

          <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </ng-container>
      </div>
    </nav>
  </div>

  <!-- サイドナビ -->
  <ul id="nav-mobile" class="sidenav" *ngIf="isLink">
    <!-- ログイン時 -->
    <ng-container *ngIf="authenticated">
      <li><a routerLink="quiz" class="sidenav-close"><i class="material-icons">bookmark</i>クイズ手帳</a></li>
      <!-- <li><a routerLink="activity" class="sidenav-close"><i class="material-icons">favorite</i>アクティビティ</a></li> -->
      <li><a routerLink="account" class="sidenav-close"><i class="material-icons">person</i>アカウント</a></li>
      <li><a routerLink="logout" class="sidenav-close"><i class="material-icons">exit_to_app</i>ログアウト</a></li>
    </ng-container>
    <!-- 未ログイン時 -->
    <ng-container *ngIf="!authenticated">
      <li><a routerLink="login" class="sidenav-close"><i class="material-icons">person</i>ログイン</a></li>
    </ng-container>
  </ul>
</header>